---

  - name: PHP-FPM | Install dependencies for core php extensions
    apt: pkg={{ item }} state=latest
    with_items: "{{ pkg_dependencies_core | default([]) }}"
    become: yes
    tags:
      - php


  - name: PHP-FPM | Install core php extensions
    apt: pkg={{ item }} state=latest
    with_items: "{{ php_extensions_core | default([]) }}"
    become: yes
    tags:
      - php

  - name: PHP-FPM | Install dependencies for additional php extensions
    apt: pkg={{ item }} state=latest
    with_items: "{{ pkg_dependencies | default([]) }}"
    become: yes
    tags:
      - php


  - name: PHP-FPM | Install additional php extensions
    apt: pkg={{ item }} state=latest
    with_items: "{{ php_extensions | default([]) }}"
    become: yes
    tags:
      - php
