  - name: PHP | Download composer installer
    ansible.builtin.get_url:
      url: https://getcomposer.org/installer
      dest: /tmp/composer-setup.php
      mode: '0755'
    become: true
    tags:
      - composer

  - name: PHP | Run composer installer
    ansible.builtin.shell: |
      /usr/bin/php{{ php_version }} /tmp/composer-setup.php --install-dir=/usr/local/bin
    args:
      creates: /usr/local/bin/composer.phar
    become: true
    tags:
      - composer

  - name: PHP | Rename composer.phar to composer
    ansible.builtin.file:
      src: /usr/local/bin/composer.phar
      dest: /usr/local/bin/composer
      state: link
    become: true
    tags:
      - composer

  - name: PHP | creates php version specific composer invoker
    ansible.builtin.template:
      src: "{{ role_dir }}/templates/composer/composer.j2"
      dest: "/usr/local/bin/composer{{ php_version }}"
      mode: "u=rwx,g=rx,o=rx"
    become: true
    tags:
      -composer
